.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-text-heading);
  font-weight: var(--font-weight-regular);
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #dadde1;
  border-radius: 50%;
  /* background-color: white; */
  background-color: var(--color-background-light);
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
  position: relative;
}

.checkbox input[type="checkbox"]:hover {
  border-color: #6d7b75;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #6d7b75;
  border-color: #6d7b75;
  box-shadow: 0 0 0 3px rgba(109, 123, 117, 0.2);
}

.checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
